/*
Palette
---------
main - 5a9c4a
high - 8bcd73
higher - bde673
low - 415a20
sand - e6d5ac
*/

@font-face {
	font-family: "Geo sans";
	src: url("./fonts/GeosansLight.ttf");
}

html, body {
    margin: 0;
    background-color: #fff;
}

/*#content, .page, body, html {
	height: 100%;
}*/


.container {
	background-color: #FFF;
	min-height: 100%;
	margin: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
}

.paginated {
	padding-top: 5px;
	width: 90%;
	margin: auto;
}

.device-list {
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 10px;
}

.device-title-info {
	padding-left: 8;
	display: inline;
}

.app-header {
	background: #fff;
}

.logo {
	display: inline;
	float: left;
	margin-bottom: 10px;
	margin-left: 15px;
}
.app-title {
	display: inline;
	float: left;
}

.nav-tabs>.nav-top {
	font-family: "Geo sans";
	letter-spacing: 2px;
	float: right;
	color: #000;
}

.nav-tabs>.nav-top>a {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	border: 0px;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 1px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 15px;
	margin-left: 15px;
}

.nav-tabs>.nav-top>a.active, .nav-tabs>.nav-top>a.active:hover {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 4px solid #bde673;
	color: #000;
}

.nav-tabs>.nav-top>a:hover {
	background-color: transparent;
	border-color: transparent;
	color: #000;
}

.nav-tabs>.nav-top.nav-home {
	float: left;
}

.nav-tabs>.nav-top.nav-home>a {
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	margin-top: 5px;
}

.nav-tabs>.nav-top.nav-home>a p {
	margin-left: 5px;
	margin-top: 10px;
}

.nav-tabs>.nav-top.nav-home>a, .nav-tabs>.nav-top.nav-home>a.active, .nav-tabs>.nav-top.nav-home>a:hover, .nav-tabs>.nav-top.nav-home>a.active:hover {
	background-color: transparent;
	border-color: transparent;
	color: #000;
}

.nav-tabs>.nav-top.nav-home>a:focus {
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs {
	display: inline;
	vertical-align: bottom;
}

.vert-sep {
	height: 40px;
	margin-top: 6px;
	margin-right: 20px;
	float: right;
}

.page-header {
	color: #000;
	border: 0px;
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	border-top: 1px solid #91b784;
	border-bottom: 1px solid #91b784;
	background: #f4f4f4;
	/*background: linear-gradient(to bottom right, #478937, #63a552);*/
	box-shadow: 0px 2px 3px #dddddd;
}

.page-header h2 {
	font-weight: 300;
	margin-top: 0px;
}

.page-title {
	text-decoration: none;
	display: inline;
}

.page-subtitle {
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	display: inline;
}

.page-content {
	width: 90%;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.run {
	margin-top: 3px;
	margin-bottom: 3px;
	border-bottom: 1px solid #ededed;
}

.run-name {
	display: inline;
	padding-right: 5px;
}

.cuke-info {
	padding-right: 5px;
	padding-left: 5px;
	border-left: 1px solid #ededed;
}

.cuke-device {
	display: inline;
}

.cuke-status {
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.device-status.ready {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
	color: #2dd300;
}

.device-status.busy, .device-status.stop, .device-status.restart, .device-status.rebooting {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
	color: #ffaa00;
}

.device-header.ios {
	background: white;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 1px solid #d3d3d3;
	/*border: 1px solid #568ab5;*/
}

.device-type-ios {
	display: inline;
	color: #86aae0;
	margin-right: 15px;

}

.device-header.android {
	background: white;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 1px solid #d3d3d3;
	/*border: 1px solid #30601f;*/
}

.device-type-android {
	display: inline;
	color: #74ba5d;
	margin-right: 15px;
}

.overlay.stop, .overlay.restart .overlay.rebooting {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #fff;
	opacity: 0.5;
}

.stop-device, .stop-device {
	display: inline;
	margin-left: 20px;
}

.caret.white.large {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 20px;
	vertical-align: middle;
	border-top: 5px solid #FFF;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
}

.caret.black.xl {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 20px;
	vertical-align: middle;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
}

.orange {
	color: #f7c56f;
	display: inline;
}

a.expand-collapse, a.expand-collapse div {
	width: 100%;
	text-decoration: none;
	display: inline;
}

.device-info {
	margin-bottom: 4px
}

.device.warning p {
	display: inline-block;
	background-color: #e6d5ac;
	border: 1px solid #bfb397;
	border-radius: 3px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.restart.btn {
	float: right;
}

.tab {
	display: inline;
}

.tabbed-nav {
	padding-top: 25px;
	margin-left: 0px;
	border-bottom: 1px solid #5a9c4a;
	padding-bottom: 3px;
}

.tab>a {
	color: #fff;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 9px;
	background-color: #5a9c4a;
	border: 1px solid #5a9c4a;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px
}

.tab a:hover {
	text-decoration: none;
}

.tab.active a {
	font-size: 20px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 1px;
	margin-right: 1px;
	color: black;
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.tab.run-tests a {
	font-size: 18px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 1px;
	margin-right: 1px;
	color: #a8a8a8;
	margin-left: 50px;
	background: #ededed;
	border: 1px solid #a8a8a8;
	pointer-events: none;
}

.tab.run-tests.ready>a {
	color: #fff;
	background: #5a9c4a;
	pointer-events: auto;
	border: 1px solid #5a9c4a;
}

.tab.run-tests>a:hover {
	background: #8bcd73;
	border: 1px solid #5a9c4a;
}

.tab.save-tests>a {
	font-size: 18px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 1px;
	margin-right: 1px;
	margin-left: 10px;
	color: #a8a8a8;
	background: #ededed;
	border: 1px solid #a8a8a8;
	pointer-events: none;
}

.tab.save-tests.ready>a {
	color: #fff;
	background: #5a9c4a;
	border: 1px solid #5a9c4a;
	pointer-events: auto;
}

.tab.save-tests>a:hover {
	background: #8bcd73;
	border: 1px solid #5a9c4a;
}

.list-options {
	margin-top: 5px;
	margin-bottom: 5px;
}

.select-all {
	display: inline;
	margin-right: 5px;
}

.refresh {
	display: inline;
}

.select.select-item {
	display: inline;
	margin-right: 15px;
}

.feature {
	margin-bottom: 0px;
	margin-top: 5px;
}

.scenarios {
	width: 100%;
	padding-left: 15px;
	padding-right: 0px;
}

.feature-heading {
	border-top: 1px solid #d3d3d3;
	background: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
}

.feature-name, .feature-name:hover, .device-name, .device-name:hover {
	color: #000;
	display: inline;
	padding-right: 10px;
}

.scenario-table {
	width: 100%;
}

.scenario .select.select-item {
	display: inline;
	padding-left: 15px;
}

.line-num {
	padding-right: 15px;
}

.scenario {
	border-top: 1px solid #d3d3d3;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
}

.feature-title {
	display: inline;
}

.feature-path {
	display: inline;
}

.branches-dropdown {
}

h2 {
	margin-top: 10px;
}

a.tag, a.tag:hover, a.tag:focus {
	border: 1px solid #ededed;
	border-radius: 3px;
	text-decoration: none;
	color: #000;
	padding: 5px;
	margin: 3px;
	font-size: 16px;
	cursor: pointer; cursor: hand;
}

.tags-list {
	margin-bottom: 30px;
}
.tag.included, .tag.included:hover {
	color: #FFF;
	background: #3B759A;
}

.tag.excluded {
	color: #000;
	background: #f7c56f;
}

.tag.disabled {
	color: #cccccc;
	pointer-events: none;
	cursor: default;
}

.selected-tags {
	margin-top: 20px;
	display: block;
	width: 100%;
	margin: auto;
}

.featureList {
	height: 100%;
	padding-bottom: 3px;
	border-bottom: 1px solid #d3d3d3;
}

.favourites-table {
	display: table;
	height: 100px;
	width: 100%;
	table-layout: fixed;
}

.favourite-button {
	vertical-align: text-top;
	display: inline;
	padding: 2px;
}

.favourites-table tr {
	border-bottom: 1px solid #d3d3d3;
}

.favourite td div {
	vertical-align: text-top;
	padding-left: 10px;
	padding-right: 10px;
}

.favourite .selectFavourite {
	padding-top: 3px;
	padding-bottom: 3px;
}

.favourite .expandCollapse, .favourite .expandCollapse:hover {
	color: #f7c56f;
	margin-right: 20px;
	text-decoration: none;
	vertical-align: text-top;
	display: inline;
}

.favourite-name {
	font-weight: bold;
}

.favourite.expanded td div {
	text-overflow: initial;
	word-wrap: break-word;
}

.favourite.collapsed td div {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.favourite-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}

.fav-modal {
    background-color: #fff;
    margin: 15% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}

.delete-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}

.delete-modal {
    background-color: #fff;
    margin: 15% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}

.close-modal {
	float: right;
}

.save-fav, .save-fav:hover {
	margin-left: 5px;
	text-decoration: none;
	margin-top: 3px;
	margin-bottom: 3px;
}

.save-fav.disabled {
	pointer-events: none;
	text-decoration: none;
	color: #a8a8a8;
}

.favourite-button {
	margin-left: 5px;
	margin-right: 5px;
}

.delete.yes {
	margin: 5px;
}

.delete.no {
	margin: 5px;
}

.favourite-overlay a, .favourite-overlay p, .favourite-overlay h3, .favourite-overlay input{
	opacity: 1;
}

.overlay.refreshing {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #fff;
	opacity: 0.7;
}

.refreshing {
  position: relative;
}

.refreshing:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.5;
}

.refresh.refreshing img {
	animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
