.panel.device-list {
	margin-bottom: 10px;
}

.device-title-info {
	padding-left: 8;
}

.device-status.ready {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	color: #2dd300;
	vertical-align: middle;
}

.device-status.busy {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	vertical-align: middle;
	color: #ffaa00;
}

.panel-heading.device-header-ios {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #3867b7;
}

.device-type-ios {
	display: inline;
	color: #76a4ed;
	vertical-align: middle;

}

.panel-heading.device-header-android {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #225e0e;
}

.device-type-android {
	display: inline;
	color: #74ba5d;
	vertical-align: middle;
}

.device-name {
	display:inline;
	padding-left: 15px;
	color: #FFFFFF;
	vertical-align: middle;
}

.caret.white.large {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 20px;
	vertical-align: middle;
	border-top: 5px solid #FFF;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
}

.caret.black.xl {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 20px;
	vertical-align: middle;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
}

a.expand-collapse {
	text-decoration: none;
}

.device-info {
	margin-bottom: 4px
}

.run-tests {
	float: right;
}

.select {
	display: inline;
	margin-right: 10px;
}

.panel.feature {
	margin-bottom: 0px;
	margin-top: 10px;
}

.feature-name {
	display: inline;
}

/*.scenario {
	display: inline;
}*/

.feature-title {
	display: inline;
}

.feature-path {
	display: inline;
}

.branches-dropdown {
	display: inline;
	margin-left: 20px;
}